/* App.css or global CSS file */

/* Ensure the body and html elements cover the full viewport height */
html,
body {
  height: 100%;
  margin: 0;
}

/* Set the background image for the main content area */
.App {
  position: relative; /* Make the container relative to position the overlay */
  text-align: center;
  padding: 20px;
  min-height: 100vh;
}

/* Set the background image for the main content area */
.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/bgnew.jpg");
  background-size: auto;
  background-position: top left;
  background-repeat: repeat;
  opacity: 0.3; /* Set the opacity for the background */
  z-index: -1; /* Ensure the background is behind the content */
}

/* Ensure header and footer are outside the background */
.header,
.footer {
  background-color: #f7ecf6; /* Example background color for header and footer */
  z-index: 1; /* Ensure header and footer are on top */
}

/* Optional: Adjust content padding to account for header and footer height */

/* App.css */
.App {
  text-align: center;
  padding: 20px;
}

.hero {
  padding: 100px 20px;
  background-color: #f8f9fa;
}

.features {
  padding: 50px 20px;
  background-color: #ffffff;
}

.feature {
  margin-bottom: 20px;
}

.footer {
  margin-top: 20px;
  padding: 20px;
  background-color: #f7ecf6;
  text-align: center;
  border-radius: 20px;
  /* border: 5px solid #efc5e6;  */
}

/* Header styles */

.center-logo {
  height: 65px;
}
.navbar {
  background-color: #f7ecf6;
  border-radius: 20px;
}

.navbar .nav-link {
  /* margin-right: 15px; */
  color: #4d1b3d;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "Playfair Display", serif;
}

.navbar .nav-link:hover {
  color: #e997d6;
}

@media (max-width: 768px) {
  /* Reduce logo size for smaller screens */
  .center-logo {
    height: 50px;; /* Adjusted logo size */
  }
  nav.navbar .navbar-nav .nav-link.navbar-link {
    font-size: 18px; /* Slightly smaller font size */
    padding: 10px 0; /* Adjust padding for tap target */
    color: whitesmoke !important;
    opacity: 0.9; /* Make links more visible */
    text-align: center; /* Center text for better alignment */
  }
  /* Add a border between nav items for clarity */
  nav.navbar .navbar-nav .nav-link.navbar-link:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .navbar-toggler-icon {
    background-color: #f7f6f074;
    border-radius: 2px;
  }
}
/* HeroSection styles */
.hero-wrapper {
  position: relative;
  padding: 20px;
  margin: 20px;
  border: 5px solid #efc5e6; /* Border color */
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
}

.hero-wrapper::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  height: calc(100% + 20px);
  border: 5px solid #e997d6; /* Border color */
  border-radius: 20px;
  clip-path: polygon(0 0, 100% 0, 100% 15%, 85% 100%, 15% 100%, 0 15%);
  z-index: -1;
}

.hero-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px;
  background-color: #f7ecf6;
}

.hero-content {
  flex: 1;
  padding: 20px;
  max-width: 600px;
  margin-left: 100px; /* Original margin for larger screens */
}

.hero-content h1 {
  font-size: 1.8rem;
  color: #4d1b3d;
  padding: 0;
  border-radius: 15px;
  animation: slideIn 1s ease-out;
  font-weight: bold;
}

.hero-content h2 {
  color: #4d1b3d;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-align: center;
  animation: fadeIn 2s;
  letter-spacing: 1px;
  line-height: 1;
}

.hero-content p {
  font-size: 1.3rem;
  color: #525252;
  margin: 20px 0;
  font-family: Noto Serif Khitan Small Script;
}

.cta-button {
  background-color: #4d1b3d;
  border-radius: 15px;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.cta-button:hover {
  color: #4d1b3d;
  background-color: #e997d6;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    padding: 20px; /* Adjust padding for smaller screens */
  }

  .hero-content {
    margin-left: 0; /* Remove left margin */
    max-width: 100%; /* Ensure it scales properly */
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .hero-image {
    margin-top: 20px;
    max-width: 100%; /* Ensure image scales down */
    padding: 0;
  }
}
/* About styles */
.about-us-section {
  position: relative;
  padding: 10px 0;
  color: #4d1b3d;
  text-align: center;
  overflow: hidden;
  min-height: 600px; /* Adjusted height */
}

.about-us-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5; /* Adjust opacity for background visibility */
}

.about-us-content {
  position: relative;
  z-index: 1;
  display: flex; /* Flexbox for horizontal layout */
  flex-direction: column; /* Default column for mobile */
  align-items: center;
  justify-content: center;
  padding: 30px;
  background: rgba(243, 128, 210, 0.6); /* Semi-transparent background for text readability */
  border-radius: 15px;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

@media (min-width: 768px) {
  .about-us-content {
    flex-direction: row; /* Row layout for larger screens */
  }
}

.about-us-content h4 {
  font-size: 1.5rem;
  color: #4d1b3d;
  margin-bottom: 0px;
  font-family: Noto Serif Khitan Small Script;
  font-weight: bold;
   /* Underlines the text */
  word-wrap: break-word;
}

.about-us-content h3 {
  color: #4d1b3d;
  font-size: 2rem;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: Noto Serif Khitan Small Script;
  text-decoration: underline;
  text-decoration-color: #680e5c; /* Change the underline color */
  text-underline-offset: 3px;
  word-wrap: break-word;
  
}

.about-us-content p {
  color: #4d1b3d;
  font-size: 20px;
  line-height: 1.6;
  animation: slideIn 2s ease-out;
  font-family: '__MACKINAC_eaf046','__MACKINAC_Fallback_eaf046';
  text-align:justify;
  
}

.about-us-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Adjusted height */
  padding: 10px;
  width: 100%; /* Adjust width for responsive design */
  order: 1; /* Ensure image comes below text content */
}

@media (min-width: 768px) {
  .about-us-image {
    width: 50%; /* Take half of the width on larger screens */
  }
}

.about-us-image Lottie {
  width: 100%; /* Adjust to fit parent container */
  max-width: 300px;
}

.box-right {
  width: 100%; /* Full width for small screens */
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: rgb(247, 221, 240);
  text-align: center; /* Center text for small screens */
}

@media (min-width: 768px) {
  .box-right {
    width: 50%; /* Take half of the width on larger screens */
    text-align: left; /* Align text to left for larger screens */
    padding-left: 30px; /* Padding adjustment */
  }
}

/* For small screens */
@media (max-width: 768px) {
  .about-us-content h4, .about-us-content h3 {
    font-size: 1.5rem; /* Slightly smaller font for better fit */
    line-height: 1.3; /* Tighter line spacing */
  }
  
  .about-us-content p {
    font-size: 1rem; /* Slightly smaller font size for better fit */
    line-height: 1.4; /* Tighter line spacing */
  }

  .about-us-content {
    padding: 15px; /* Reduced padding for better layout */
    max-width: 95%; /* Full-width on smaller screens */
  }

  .about-us-image {
    height: auto; /* Adjust height based on content */
    padding: 15px;
  }
}

/* Animation for sliding in content */
@keyframes slideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Contact Us styles */
.contact-us-section {
  position: relative;
  padding: 40px 20px;
  color: #333;
  background-color: #f8f9fa;
  overflow: hidden;
  border-radius: 20px;
}

.contact-us-content {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  animation: slideInFromRight 1s ease-out;
}

.contact-us-image {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.contact-us-form {
  flex: 1;
  padding: 20px;
  background: rgba(
    251,
    165,
    227,
    0.6
  ); /* Semi-transparent background for text readability */
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
}

.contact-us-form h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.contact-us-form .form-group {
  margin-bottom: 15px;
}

.contact-us-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-us-form input,
.contact-us-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact-us-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.contact-us-form button:hover {
  background-color: #0056b3;
}

/* vision section starts */
.vision-section {
  padding: 40px 20px; /* Space around the section */
  background-color:  #f7ecf6; /* Light background color for the section */
  text-align: center; /* Center-align content */
  border-radius: 20px; /* Rounded corners */
  margin: 20px auto; /* Center the section horizontally */
  max-width: 1200px; /* Restrict the maximum width */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}

.grid-item {
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 100%;
}

.grid-item:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.image {
  width: 110px;
  height: 140px;
  object-fit:contain;
  padding-top: 15px;

}

.info {
  padding: 15px;
  color: #4d1b3d;
}

.title {
  font-size: 1.4rem;
  margin-bottom: 10px;
  font-family: '__MACKINAC_eaf046','__MACKINAC_Fallback_eaf046';
 font-weight: 510;
 text-shadow: 2px 2px 4px rgba(255, 105, 180, 0.6);
}

.description {
  font-size: 1.2rem;
  color: #525252;
  line-height: 1.5;
  font-family: '__MACKINAC_eaf046','__MACKINAC_Fallback_eaf046';
}

.stack-end {
  margin-top: 40px;
}

.empathy-title {
  font-size: 1.8rem;
  color: #d42a9e;
  font-weight: bold;
}

.highlight {
  color: #f8aedd;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.2rem;
  }

  .description {
    font-size: 0.9rem;
  }
}
/* vision section ends */


/* Period Info Videos Section */
.period-info-section {
  padding: 40px 20px; /* Space around the section */
  background-color: #f494d1; /* Light background color for the section */
  text-align: center; /* Center-align content */
  border-radius: 20px; /* Rounded corners */
  margin: 20px auto; /* Center the section horizontally */
  max-width: 1200px; /* Restrict the maximum width */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}




.period-info-section h2 {
  font-size: 2.5rem; /* Heading size */
  color: #4d1b3d; /* Text color to match theme */
  margin-bottom: 30px; /* Space below heading */
  font-family: "Playfair Display", serif; /* Font style */
}

/* Carousel Container */
.carousel-container {
  font-family: '__MACKINAC_eaf046','__MACKINAC_Fallback_eaf046';
  max-width: 1000px; /* Set a max-width for the carousel box */
  margin: 0 auto; /* Center the carousel container */
  padding: 20px; /* Padding around the carousel */
  /* border: 2px solid #d483c7; Light gray border */
  border-radius: 20px; /* Rounded corners for the carousel container */
  background: rgba(243, 128, 210, 0.6); /* White background for the carousel box */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  text-shadow: 2px 2px 4px rgba(244, 114, 182, 0.6);
}
/* App.css or another CSS file */
.custom-purple-link {
  color: #b7079c; /* Replace with your desired purple shade */
}


/* Video Grid for smaller layout, if needed */
.video-grid {
  display: grid; /* Use CSS Grid for layout */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid columns */
  gap: 20px; /* Space between grid items */
  justify-items: center; /* Center content in each grid item */
}

/* Video Card */
.video-card {
  background-color: #ffffff; /* White background for each video card */
  border-radius: 15px; /* Rounded corners */
  overflow: hidden; /* Hide overflow */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Hover effect transition */
  max-width: 100%; /* Ensure full width */
}

.video-card:hover {
  transform: translateY(-10px); /* Hover effect */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
}

.video-card iframe {
  width: 100%; /* Full width for video */
  height: 200px; /* Set height */
  border: none; /* Remove default border */
  border-radius: 15px 15px 0 0; /* Rounded corners at the top */
}

.video-card .video-info {
  padding: 15px; /* Inner padding */
  color: #4d1b3d; /* Text color */
  font-family: "Noto Serif Khitan Small Script", serif; /* Font style */
}

.video-card .video-info h3 {
  font-size: 1.4rem; /* Video title size */
  margin-bottom: 10px; /* Space below title */
}

.video-card .video-info p {
  font-size: 1rem; /* Description size */
  color: #525252; /* Muted text color */
  line-height: 1.5; /* Line spacing */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .period-info-section h2 {
    font-size: 2rem; /* Smaller heading size for mobile */
  }

  .video-card iframe {
    height: 180px; /* Adjust video height for smaller screens */
  }

  .video-card .video-info h3 {
    font-size: 1.2rem; /* Smaller title size */
  }

  .video-card .video-info p {
    font-size: 0.9rem; /* Smaller description size */
  }
}

